@font-face {
    font-family: 'Concrete';
    src: url('fonts/Concrete.ttf') format('truetype');
}
@font-face {
    font-family: 'Coutore';
    src: url('fonts/COUTURE-Bold.ttf') format('truetype');
}
@keyframes eskRotate {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(1080deg);}
}
body {
    margin: 0;
    background-color:#050833;
}
.attacrack {
    font-family: 'Coutore', sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 10px 6px 10px;
    color: #e2fffc;
}
.prattel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-style: solid;
    border-width: 3px;
    border-color: #e2fffc;

    margin: 0px 0px 0px 5px;
}
#eskimo {
    width: 100%;
    height: 100%;
    justify-content: left;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}